<dal name="test">
  <databaseSets>
    <databaseSet name="dao_test" provider="mySqlProvider" shardingStrategy="class=Arch.Data.DbEngine.Sharding.ModShardingStrategy;column=Id;mod=1;shardByTable=true;shardByDB=false" >
      
      <add name="dao_test" databaseType="Master"  connectionString="1"/>
      <!--<add name="dao_test1" databaseType="Master" sharding="1"  connectionString="1"/>-->
    </databaseSet>
  </databaseSets>
  <databaseProviders>
    <add name="sqlProvider" type="Arch.Data.DbEngine.Providers.SqlDatabaseProvider,Arch.Data"/>
    <add name="mySqlProvider" type="Arch.Data.MySqlProvider.MySqlDatabaseProvider,Arch.Data.MySqlProvider"/>
  </databaseProviders>
  <connectionLocator path="C:\Users\admin\Desktop\Debug\Config\Database.config" />
</dal>